nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    /* display: inline; */
    margin: 10px;
    padding: auto;

}

nav li a{
    text-decoration: none;
    color: rgb(255, 123, 0);
    font-size: 20px;
    
}

nav li:hover{
    background-color: rgb(8, 67, 118);
}


nav ul li ul{
    display: none;
    position: absolute;
    background-color: rgb(239, 213, 16);
}

nav ul li:hover ul{
    display: block;
}


